@model Pastry

<h3 class="my-5">
    @Model.Name
</h3>

<div class="row gx-5">
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5" />
    <div class="col-7">
        <p>@Model.Description</p>
        <h3 class="pull-right">@Model.Price.ToString("c", CultureInfo.GetCultureInfo("tr-TR"))</h3>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-secondary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pastryId="@Model.PastryId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>
